on:
  push:
    tags:
    - '*'

jobs:
  publish:
    name: Publish release
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    steps:
    - name: Initialize Java
      uses: actions/setup-java@v1
      with:
        java-version: 15
    - name: Checkout root repository
      uses: actions/checkout@v2
      with:
        repository: sandpolis/sandpolis
    - name: Checkout submodules
      run: |
        git submodule update --init --remote --merge com.sandpolis.client.lifegem
    - name: Initialize QEMU
      uses: docker/setup-qemu-action@v1
    - name: Initialize buildx
      uses: docker/setup-buildx-action@v1
    - name: Prepare Docker build
      run: |
        gradle --no-daemon :com.sandpolis.client.lifegem:imageSyncBuildContext
    - name: DockerHub login
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_PASSWORD }}
    - name: DockerHub publish
      uses: docker/build-push-action@v2
      with:
        context: com.sandpolis.client.lifegem
        file: Dockerfile
        platforms: linux/amd64,linux/arm/v7,linux/arm64/v8
        push: true
        tags:
        - sandpolis/desktop-client:latest
        - sandpolis/desktop-client:${GITHUB_REF#refs/tags/v}
    - name: Maven publish
      run: |
        gradle --no-daemon :com.sandpolis.client.lifegem:publish
      env:
        SONATYPE_USERNAME: ${{ secrets.SONATYPE_USERNAME }}
        SONATYPE_PASSWORD: ${{ secrets.SONATYPE_PASSWORD }}
